@import "node_modules/angular-material/angular-material.scss";
@import './overlay.scss';

html, body {
  height: 100%;
}

html, ui-view {
  font-size: small;
}

body {
  padding: 0.5em;
}

.disable-selection {
  user-select: none;
}

@media screen and (min-width: 640px) {
  html, ui-view {
    font-size: medium;
  }
  ui-view {
  }
}
